<!DOCTYPE html>
<html lang="de" ng-app="ActivityMeterApp">
<head>
    <meta charset="UTF-8">
    <title>ExchangeActivityMeter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/angularjs/1.6.6/angular.min.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js"></script>
    <!--<script src="/webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>-->

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <!--<link rel="stylesheet" type="text/css" href="css/table.css"/>-->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script>
        var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

        function loadActivities($scope, $http) {
            $http({
                method: 'GET',
                url: 'api/activity'

            }).then(function (response) {
                $scope.activities = response.data;
            });
        }

        app.controller('ActivityCtrl', function ($scope, $http, $dialog) {

            loadActivities($scope, $http);


            var addDialogOptions = {
                controller: 'AddActivityCtrl',
                templateUrl: './activityAdd.html'
            };

            $scope.add = function (activity) {
                $dialog.dialog(angular.extend(addDialogOptions, {})).open().then(function () {
                    loadActivities($scope, $http);
                });
            };

            var editDialogOptions = {
                controller: 'EditActivityCtrl',
                templateUrl: './activityEdit.html'
            };
            $scope.edit = function (activity) {
                $dialog.dialog(angular.extend(editDialogOptions, {resolve: {activity: angular.copy(activity)}})).open().then(function () {
                    loadActivities($scope, $http);
                });
            };

            $scope.delete = function (activity) {
                var deleteRequest = {
                    method: 'DELETE',
                    url: 'activity/' + activity.id
                };

                $http(deleteRequest).then(function () {
                    loadActivities($scope, $http);
                });
                //todo handle error
            };
        });
        app.controller('AddActivityCtrl', function ($scope, $http, dialog) {

            $scope.save = function (activity) {
                var postRequest = {
                    method: 'POST',
                    url: 'activity',
                    data: {
                        text: $scope.activity.text,
                        tags: $scope.activity.tags,
                        title: $scope.activity.title
                    }
                };

                $http(postRequest).then(function (response) {
                    $scope.activities = response.data;
                }).then(function () {
                    $scope.close();
                });
            };

            $scope.close = function () {
                dialog.close(undefined);
            };
        });
        app.controller('EditActivityCtrl', function ($scope, $http, activity, dialog) {

            $scope.activity = activity;
            $scope.save = function ($activity) {
                var putRequest = {
                    method: 'PUT',
                    url: 'activity/' + $scope.activity.id,
                    data: {
                        text: $scope.activity.text,
                        tags: $scope.activity.tags,
                        title: $scope.activity.title
                    }
                };

                $http(putRequest).then(function (response) {
                    $scope.activities = response.data;
                }).then(function () {
                    //todo handle error
                    $scope.close();
                });
            };

            $scope.close = function () {
                loadActivities($scope, $http);
                dialog.close();
            };
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ExchangeActivityMeter</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="search">Search</li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Aktivities</a></li>
                    <li><a href="CreateActivity.html">Aktivität erstellen</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class="col-xs-12 col-sm-9" id="main">
            <br>
            <div class="jumbotron">
                <!--<a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>-->
                <h1>Welcome to the ExchangeActivityMeter</h1>
                <p>This is the website of the Exchange Activity Meter. If you are interested in an exchange program,
                    have a look at the following posts.</p>
            </div>
            <div ng-controller="ActivityCtrl" class="activityContainer">
                <div ng-repeat="activity in activities" class="row activity">
                    <div class="col col-sm col-lg">
                        <h2>{{activity.title}}</h2>
                        <p>{{activity.text}}</p>
                        <p>{{activity.tags}}</p>
                        <div ng-switch on="activity.updated">
                            <p ng-switch-when="null">Created: {{activity.created | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                            <p ng-switch-default>Updated: {{activity.updated | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                        </div>

                        <p>
                            <button class="btn btn-default" ng-click="edit(activity)" disabled>edit</button>
                            <button class="btn btn-default" ng-click="delete(activity)" disabled>delete</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/span-->


    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>© Company 2013</p>
    </footer>

</div>
</body>
</html>