<!DOCTYPE html>
<html lang="de" ng-app="ActivityMeterApp">
<head>
    <meta charset="UTF-8">
    <title>ExchangeActivityMeter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/angularjs/1.6.6/angular.min.js"></script>
    <!--<script src="/webjars/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js"></script>-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--<script src="/webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>-->

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <!--<link rel="stylesheet" type="text/css" href="css/table.css"/>-->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

        function loadActivities($scope, $http) {
            $http({
                method: 'GET',
                url: 'api/activity'

            }).then(function (response) {
                $scope.activities = response.data;
            });
        }

        app.controller('ActivityCtrl', function ($scope, $http, $uibModal) {
            loadActivities($scope, $http);


            var addDialogOptions = {
                controller: 'AddActivityCtrl',
                templateUrl: './activityAdd.html'
            };

            $scope.add = function (activity) {
                console.log("open CreateActivity modal");
                var modal = $uibModal.open(addDialogOptions);
                modal.result.then(function (value) {
                    loadActivities($scope, $http)
                });
            };

            var editDialogOptions = {
                controller: 'EditActivityCtrl',
                templateUrl: './activityEdit.html'
            };
            $scope.edit = function (activity) {
                // $dialog.dialog(angular.extend(editDialogOptions, {resolve: {activity: angular.copy(activity)}})).open().then(function () {
                //     loadActivities($scope, $http);
                // });
            };

            $scope.delete = function (activity) {
                var deleteRequest = {
                    method: 'DELETE',
                    url: 'activity/' + activity.id
                };

                $http(deleteRequest).then(function () {
                    loadActivities($scope, $http);
                });
                //todo handle error
            };
        });
        app.controller('AddActivityCtrl', function ($uibModalInstance, $scope, $http) {
            // var input = angular.element( $element.children()[1] );

            $scope.tags = [];

            $scope.save = function (activity, mail) {
                console.log("save function called");

                $http({
                    method: 'POST',
                    url: 'api/tag',
                    data: $scope.tags
                }).then(function (tags) {
                    $http({
                        method: 'POST',
                        url: 'api/activity',
                        data: {
                            text: activity.text,
                            tags: tags.data,
                            title: activity.title
                        }
                    }).then(function (response) {
                        $scope.activity = response.data;
                    }).then($http({
                        method: 'POST',
                        url: 'api/mailAddress',
                        data: mail
                    })).then(function () {
                        $scope.close();
                    });
                });
            };

            $scope.close = function () {
                console.log("AddActivityCtrl close function called");
                $uibModalInstance.close();
            };

            // $scope.addTag = function () {
            //     $scope.tags.push($scope.new_value);
            //     $scope.new_value = "";
            // };
            //
            // // This is the ng-click handler to remove an item
            // $scope.removeTag = function (idx) {
            //     $scope.tags.splice(idx, 1);
            // };
            //
            // // // Capture all keypresses
            // // input.bind( 'keypress', function ( event ) {
            // //     // But we only care when Enter was pressed
            // //     if ( event.keyCode == 13 ) {
            // //         // There's probably a better way to handle this...
            // //         $scope.$apply( $scope.addTag );
            // //     }
            // // });
        });
        app.controller('EditActivityCtrl', function ($scope, $http, activity) {

            $scope.activity = activity;
            $scope.save = function ($activity) {
                var putRequest = {
                    method: 'PUT',
                    url: 'activity/' + $scope.activity.id,
                    data: {
                        text: $scope.activity.text,
                        tags: $scope.activity.tags,
                        title: $scope.activity.title
                    }
                };

                $http(putRequest).then(function (response) {
                    $scope.activities = response.data;
                }).then(function () {
                    //todo handle error
                    $scope.close();
                });
            };

            $scope.close = function () {
                loadActivities($scope, $http);
                // dialog.close();
            };
        });

        app.directive('tagManager', function () {
            return {
                restrict: 'E',
                scope: {tags: '='},
                template:
                '<div class="tags">' +
                '<button ng-repeat="(idx, tag) in tags" class="btn btn-default" ng-click="removeTag(idx)" style="margin-bottom: 5px;">{{tag}} &times;</button>' +
                '</div>' +
                '<br>' +
                '<input ng-model="new_value" type="text" class="form-control" placeholder="Add a tag..." style="width: 50%; float: left;"/>' +
                '<button type="button" class="btn btn-default" ng-click="addTag()" style="margin-left: 5px;">Add</button>',
                link: function ($scope, $element) {
                    // FIXME: this is lazy and error-prone
                    var input = angular.element($element.children()[1]);

                    // This adds the new tag to the tags array
                    $scope.addTag = function () {
                        $scope.tags.push($scope.new_value);
                        $scope.new_value = "";
                    };

                    // This is the ng-click handler to remove an item
                    $scope.removeTag = function (idx) {
                        $scope.tags.splice(idx, 1);
                    };

                    // Capture all keypresses
                    input.bind('keypress', function (event) {
                        // But we only care when Enter was pressed
                        if (event.keyCode == 13) {
                            // There's probably a better way to handle this...
                            $scope.$apply($scope.addTag);
                        }
                    });
                }
            };
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</head>
<body>

<ng-controller ng-controller="ActivityCtrl">

    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ExchangeActivityMeter</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="search">Search</li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Aktivitäten</a></li>
                        <li><a data- ng-click="add()">Aktivität erstellen</a></li>
                        <li><a data-toggle="modal" href="#contact_send">Kontakt</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->

            <div class="col-xs-12 col-sm-9" id="main">
                <br>
                <div class="jumbotron">
                    <!--<a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>-->
                    <h1>Welcome to the ExchangeActivityMeter</h1>
                    <p>This is the website of the Exchange Activity Meter. If you are interested in an exchange program,
                        have a look at the following posts.</p>
                </div>
                <div class="activityContainer">
                    <div ng-repeat="activity in activities" class="row activity">
                        <div class="col col-sm col-lg">
                            <h2>{{activity.title}}</h2>
                            <p>{{activity.text}}</p>
                            <div>
                                <a ng-repeat="tag in activity.tags">#{{tag.tag}} </a>
                            </div>
                            <div ng-switch on="activity.updated">
                                <p ng-switch-when="null">Created: {{activity.created | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                                <p ng-switch-default>Updated: {{activity.updated | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                            </div>

                            <p>
                                <button class="btn btn-default" ng-click="edit(activity)" disabled>edit</button>
                                <button class="btn btn-default" ng-click="delete(activity)" disabled>delete</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->


        </div>
        <!--/row-->

        <hr>

        <footer>
            <p>© Company 2017</p>
        </footer>

    </div>
</ng-controller>
</body>

<!-- Modal -->
<div id="contact_send" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kontakt Akademisches Auslandsamt</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="contact_title">Betreff*:</label>
                    <input type="text" class="form-control" id="contact_title">
                </div>
                <div class="form-group">
                    <label for="contact_description">Beschreibung*:</label>
                    <textarea class="form-control" rows="10" id="contact_description"></textarea>
                </div>
                <div class="form-group">
                    <label for="contact_email">Email-Absender*:</label>
                    <input type="text" class="form-control" id="contact_email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="contact_btnPost" class="btn btn-default">Senden</button>
            </div>
            <script>
                document.getElementById("contact_btnPost").addEventListener("click", function () {
                    location.href = "index.html";
                    var contact_title = document.getElementById("contact_title").value;
                    var contact_description = document.getElementById("contact_description").value;
                    var contact_email = document.getElementById("contact_email").value;

                    var contact_apiWindow = window.open("api/contact_mailAddress?contact_title=" + contact_title + "&contact_description=" + contact_description + "&contact_email=" + contact_email);
                    var contact_delay = 100;
                    var contact_before = Date.now();
                    while (true) {
                        if (Date.now() >= contact_before + contact_delay) {
                            contact_apiWindow.close();
                            break;
                        }
                    }
                });
            </script>
        </div>

    </div>
</div>

</html>